{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{# Nur falls du im Hauptmenü die Unterstreichung/Spacing brauchst #}
{% block layout_main_navigation_menu_item %}
	<li class="nav-item ft-nav-item">
		{{ parent() }}
	</li>
{% endblock %}
