/*
Override variable defaults
==================================================
Nur SCSS-Variable-Overrides, die VOR @Storefront greifen sollen.
Keine CSS-Klassen hier rein!
*/

/* Bootstrap/Storefront Defaults anpassen */
$border-radius: 12px;
$btn-border-radius: 12px;
$btn-padding-y: .625rem;
$btn-padding-x: 1rem;

$body-color: #0f172a;
/* slate-900 */
$headings-color: #0b1220;
$headings-font-weight: 700;

/* Container-Breite: muss hier statisch sein (SCSS compile-time) */
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1400px
);