.btn {
    border-radius: $radius-base;
    font-weight: 600;
}

.btn-primary {
    background: $brand-primary;
    border-color: $brand-primary;
}

.btn-primary:hover {
    filter: brightness(.95);
}

.btn-outline-primary {
    color: $brand-primary;
    background: transparent;
    border-color: rgba(0, 0, 0, .08);
}

.btn-outline-primary:hover {
    background: rgba(22, 163, 74, .08);
    /* primary-10% */
    border-color: rgba(0, 0, 0, .12);
}