// Entferne den Schatten aus den Blöcken
.cms-block {
    padding: 0 !important; // Standard-Padding für größere Bildschirme
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: none; // Schatten entfernen

    // Kleineres Padding für mobile Ansichten
    @media (max-width: 768px) {
        padding: 15px 0px; // Geringeres Padding, nur auf Mobilgeräten
    }
}

.cms-section {
    max-width: 1400px; // Standardbreite für große Bildschirme
    padding: 0 !important;
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    background-color: #fff;

    // Für Bildschirme zwischen 1200px und 1400px
    @media (min-width: 1201px) and (max-width: 1400px) {
        max-width: 98%; // Leichter Rand links und rechts
        padding: 40px 20px;
    }

    // Kleinere Bildschirme
    @media (max-width: 1200px) {
        max-width: 98%; // Leichter Rand links und rechts
    }

    @media (max-width: 768px) {
        max-width: 95%; // Breite in mobiler Ansicht fast bis zum Rand
        padding: 10px 10px; // Reduziertes Padding innerhalb der Sektionen für mobile Endgeräte
    }

    // Für Bildschirme über 1400px
    @media (min-width: 1401px) {
        max-width: 1400px; // Begrenzt die Breite auf 1400px
    }
}