{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
	{# Body-Klasse (für Scroll-Zustand via JS) #}
	{{ parent() }}
{% endblock %}

{# Optional: Container-Schale im Header enger/harmonisiert #}
{% block layout_header_container %}
	<div class="container ft-header-container">
		{{ parent() }}
	</div>
{% endblock %}
