{# src/Resources/views/storefront/layout/header/top-bar.html.twig #}
{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
	<div class="ft-topbar">
		<div
			class="container ft-topbar__inner">

			{# Linke Seite: Telefon – nur Desktop sichtbar #}
			{% set phoneNumber = theme_config('ft-topbar-phone') %}
			{% if phoneNumber %}
				<div class="ft-topbar__left">
					<a href="tel:{{ phoneNumber|replace({' ': '', '+': '00'}) }}" class="ft-topbar__link ft-topbar__tel d-none d-md-inline-flex" title="Hotline" rel="noopener" aria-label="Hotline anrufen">
						<span class="ft-topbar__icon">
							{% sw_include '@FunnyTreeTheme/icons/phone.svg' %}
						</span>
						<span class="ft-topbar__text">{{ phoneNumber }}</span>
					</a>
				</div>
			{% endif %}

			{# Rechte Seite: Sprache & Währung #}
			<div class="ft-topbar__right">
				<div class="ft-topbar__language">
					{% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}
				</div>
				<div class="ft-topbar__currency">
					{% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
				</div>
			</div>

		</div>
	</div>
{% endblock %}
